<?js
var templates = env.conf.templates;
?>
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>
        <?js= title ?> - <?js= templates.title ? templates.title : 'Document' ?></title>
    <script src="scripts/minisearch.min.js"></script>
    <script src="scripts/prettify/prettify.js"></script>
    <script src="scripts/prettify/lang-css.js"></script>
    <script src="scripts/main.js"></script>
    <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link type="text/css" rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link type="text/css" rel="stylesheet" href="styles/prettify-tomorrow.css">
    <link type="text/css" rel="stylesheet" href="styles/jsdoc-default.css">
</head>

<body class="dark">
    <div class="notification" id="notification">Copied</div>
    <input type="checkbox" id="nav-trigger" class="nav-trigger" />
    <label for="nav-trigger" class="navicon-button x">
        <div class="navicon"></div>
    </label>
    <header class="header">
        <div class="left">
            <a href="index.html">HOME</a>
        </div>
        <div class="right">
            <?js
                this.headerNav.forEach(function (item) {
            ?>
                <?js= item ?>
            <?js
                })
            ?>
        </div>
    </header>
    <label for="nav-trigger" class="overlay"></label>

    <nav>
        <div>
            <label class="switch">
                <input type="checkbox" id="toggle-mode" onchange="onChangeMode(this)">
                <span class="slider round"></span>
            </label>
        </div>
        <?js
            this.nav.forEach(function(nav) {
        ?>
        <li class="<?js= nav.el.class ?> <?js= nav.textContent == title ? 'active' : '' ?>">
            <?js= nav.el.content ?>
            <?js
                if(nav.child && nav.child.length > 0) {
            ?>
                <div class="nav-subitem">
            <?js
                    nav.child.forEach(function(child) {
            ?>
                    <span class="<?js= child.el.class ?>">
                        <?js= child.el.content ?>
                    </span>
                    
            <?js
                    })
            ?>
                </div>
            <?js
                }
            ?>
        </li>

        <?js
            })
        ?>
    </nav>
    <div id="main">
        <?js if (title != 'Home') { ?>
        <h1 class="page-title">
            <?js= title ?>
        </h1>
        <?js } ?>

        <?js= content ?>
    </div>

    <br class="clear">

    <footer>
        Generated by <a href="https://github.com/jsdoc3/jsdoc">JSDoc
            <?js= env.version.number ?></a>
        <?js if(env.conf.templates && env.conf.templates.default && env.conf.templates.default.includeDate !== false) { ?>
        on
        <?js= (new Date()) ?>
        <?js } ?> using the <a href="https://github.com/tasynguyen3894/jsdoc-ilafolt" target="_blank">Ilafolt theme</a>.
    </footer>

    <script>prettyPrint();</script>
    <script src="scripts/linenumber.js"></script>
    <script>
        const toggleMode = document.getElementById("toggle-mode");
        if(localStorage.getItem("darkmode") == 1) {
            document.body.classList.add("dark");
            toggleMode.checked = false;
        } else {
            document.body.classList.remove("dark");
            toggleMode.checked = true;
        }
    </script>
</body>

</html>